
<link rel="stylesheet" href="/index.css">
<script src="/index.js"></script>
<ul><a href="/"><li>index</li></a>
{{!-- <a href="/about"><li>About</li></a>
<a href="/help"><li>help</li></a>
<a href="/wtr"><li>Whether</li></a> --}}
</ul>
{{!-- <h1>Welcom to: {{title}}</h1> --}}


