<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Index</title>
</head>
<body>
    <h1>Check your Whether</h1>
    <div>
     <h3>choose location</h3>
   <form action="/cord" method="POST">
        <input type="text" name="loco">
        <button type="submit">Submit</button>
   </form>
   </div>
</body>
</html>