body{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
}
ul{
        text-align: left;
}
input{
    border: 2px solid lightblue;
    padding: 4px;
}

button{
    color: black;
    background-color: #10e530;
    border: 1px solid #10e1e5 ;
    border-radius: 10px;
    padding: 5px;
}
#line{
    border: 1px solid gray ;
    width: 50%;
    margin-left: 25% ;
}

a{
    color: black;
    margin-left: 400px;
}